.form-main {
  height: 100%;
  width: 100%;
  padding: 10% 0;
  background-color: white;
}

.add-actor-header {
text-align: center;
color: rgba(102, 102, 210, 0.577);
}

.addActorForm {
  border: 1px solid rgba(102, 102, 210, 0.577);
  border-radius: 15px;
  padding: 25px 50px;
  margin: auto;
  width: 350px;
}

.actor-input {
  width: 100%;
  height: 25px;
  margin-bottom: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

.actor-label {
  position: relative;
  top: 7px;
  left: 27px;
  font-size: small;
  background-color: rgba(255, 255, 255);
  color: rgba(0, 0, 0, 0.85);
  margin-bottom: 0px;
  padding: 0px 4px;
  vertical-align: text-bottom;
}

.addActorForm button {
  background-color: rgb(102, 102, 210);
  color: white;
  border: 1px solid rgba(102, 102, 210, 0.577);
  border-radius: 3px;
  height: 35px;
  width: 75px;
  cursor: pointer;
}

.submit-button {
  background-color: rgb(102, 102, 210);
  color: white;
  border: 1px solid rgba(102, 102, 210, 0.577);
  border-radius: 3px;
  height: 35px;
  width: 75px;
  cursor: pointer;
}

.cancel-button {
  color: rgb(102, 102, 210);
  background-color: white;
  border: 1px solid rgba(102, 102, 210, 0.577);
  border-radius: 3px;
  height: 35px;
  width: 75px;
  cursor: pointer;
  text-decoration: None;
  text-align: center;
  line-height: 35px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  box-sizing: border-box;
}

.addActorForm .cancel {
  background-color: white;
  color: rgba(0, 0, 0, 0.80);
}

.addActorForm .buttonHole {
  margin: 20px 0 5px 5px;
  display: flex;
  justify-content: space-between;
}

.addActorForm textarea {
  resize: vertical;
  width: 97.5%;
  min-height: 75px;
  padding: 7px;
}

.addActorForm select {
  width: 102.3%;
}

.checkbox-div {
  display: flex;
  justify-content: space-between;
}

.checkbox-label {
  margin-left: -35px;
  cursor: pointer;
  font-size: 12px;
}

.checkbox-label:hover {
  color: rgba(0, 0, 0, 0.726);
}