<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    {% block title %}
      <title>Cyberspace Film Repository</title>
    {% endblock %}
  </head>
  <body>
    <div id="root">

      {% include "nav_bar.html" %}

      {% block content %}
      {% endblock %}
    </div>

  </body>
</html>
