{% extends "base.html" %}

{% block title %}
<title>{{form.title.data}}</title>
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='add_film.css') }}">

<div class="form-main">
  <h1 class="add-actor-header">
    Edit {{form.title.data}}
  </h1>
  <form class="addActorForm" method="post" action="/films/{{id}}/edit">
    {% for field in form %}
      <div class="errors">
        {% if field.errors %}{{field.label}}: {{field.errors[0]}}{% endif %}
      </div>
      {% if field.name != "submit" and field.name != "csrf_token" and field.name != "Cast" %}
        {{field.label(class="actor-label")}}
        {{field(class="actor-input")}}
      {% elif field.name == "submit" %}
        <div class="buttonHole" id="search-allowance-buttons">
          <a href="/films/{{id}}" class="cancel-button">Cancel</a>
          {{field(class="submit-button")}}
        </div>
      {% elif field.name == "Cast" %}
        {{field.label(class="actor-label")}}
        {{field}}
      {% else %}
        {{field}}
      {% endif %}

    {% endfor %}
  </form>
</div>
{% endblock %}