<link rel="stylesheet" href="{{ url_for('static', filename='nav_bar.css') }}">
<div class="navbar">
  <div class="navbar-logo">

  </div>
  <div class="navbar-search">
    <form class="nav-search-form" method="get" action="/search">
      <div>
        <input type="text" id="query" name="query"  class="nav-search-input">
        <button type="submit" id="submit">Submit</button>
      </div>
    </form>
  </div>
  <div class="navbar-profile">
    <a href="/films/add" class="navbar-links">Add Film</a>
    <a href="/actors/add" class="navbar-links">Add Actor</a>
  </div>
</div>